.movies-item {
  width: calc(20% - 10px);
  height: 200px;
  background-color: #000000;
  flex: 1 0 auto;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-right: 10px;
  transition: background 1s ease;
  cursor: pointer;
}
.movies-item:nth-child(n+6) {
  margin-top: 20px;
}
.movies-item:last-child {
  margin-right: 0;
}

.movies-item:hover {
  background-size: 120%;
}

@keyframes moviesFadeIn { from { opacity:0; } to { opacity:1; } }

.movies-item-trans-enter {
  opacity: 0.01;
}
.movies-item-trans-enter.movies-item-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.movies-item-trans-leave {
  opacity: 1;
}
.movies-item-trans-leave.movies-item-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}

.movies-item {
  opacity:0;
  animation:moviesFadeIn ease-in 1;
  animation-duration:0.5s;
  animation-fill-mode: forwards;
}
